<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sole" > 

<link name="sole_link">
		<inertial>
			<mass value="0.3"/>
			<origin rpy="0 0 0 " xyz="0.0 0.0 0.0" />
			<inertia ixx="0" ixy="0" ixz="0" iyy="0"
				iyz="0"
				izz="0"/> 
		</inertial>
		<collision>
						<max_contacts>5</max_contacts> 
			<geometry>
						<mesh filename="package://sole/meshes/sole_7.stl" scale="0.001 0.001 0.001" />	
			</geometry>
		</collision>
		<visual>
			            <origin rpy=" 0 0 0 " xyz="0 0 0" />
			<geometry>
						<mesh filename="package://sole/meshes/sole_7.stl" scale="0.001 0.001 0.001" />
			</geometry>
		</visual>

		<gazebo>
			<static>true</static>
		</gazebo>
	</link>
  <gazebo reference="sole_link">
    <material>Gazebo/Black</material>
  </gazebo>	

<gazebo>
    <static>true</static>
</gazebo>
</robot>


